@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

*{
    padding: 0;
    margin: 0;
    border: none;
}

body{
    font-family: lato,sans-serif;
    font-weight: 400;
    color:black;
}

nav {
    width: 100%;
    background-color:#fff;
    overflow: auto;
}

ul {
    padding: 0;
    list-style: none;
    float: right;
}

nav li {
    float: left;
}


h1,h2 {
    font-family:dynapuff,sans-serif;
    letter-spacing: 3px;
    color: rgb(145, 77, 5);
}

.logo-paw {
    position: absolute;
    margin-top: 15px;
    margin-left: 30px;
    font-size: 130%;
    
}

.logo-paw a {
    text-decoration: none;
    
}

nav a {
    width: 100px;
    display: block;
    padding: 20px 15px;
    color:rgb(145, 77, 5);
    text-decoration: none;
    font-size: 120%;
    
}

.header {
    text-align: center;
    line-height: 60px;
    width: 100%;
    
}


nav a:hover{
    text-decoration:underline;
    color:rgb(145, 77, 5);
}

.logo-paw a:hover{
    text-decoration: underline;
    color:rgb(145, 77, 5);
}



#s-first{
   display: flex;
    background-color: aquamarine;
}


#s-second{
    width: 100%;
    height: 300px;
    background-color: rgb(236, 236, 242);
    
    border: 3px solid rgb(145, 77, 5);
}

#s-third{
    width: 100%;
    height: 300px;
    background-color:  rgb(236, 236, 242);}



#section-one-left{
    width: 50%;
    background:url('../css/images/dalmatinac.jpg');
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;


}

.photo-left{

    background-color:transparent;
    float:right;
    margin-right: 5%;
   
}

.photo-left h2{
    color: #fff;
    font-size:medium
}

.photo-right h2{
    color: #fff;
    font-size:medium;
    position: relative;
    margin-top:71%;
    margin-right:30%;
}

#first-right{
    float: right;
    width: 50%;
    height: 600px;
    background-color: rgb(15, 172, 25);
    background: url('../css/images/girl-dog.jpg');
    background-size: cover;
    background-position: center;
    border-left: 2px solid white;
}

footer{
    height: 150px;
    width: 100%;
}

.social-icons{
	padding:20px;
	background-color:rgb(145, 77, 5);
    text-align: center;
}

.social-icons a{
	color:#fff;
  line-height:30px;
  font-size:30px;
  margin: 0 5px;
  text-decoration:none;
}

.social-icons p {
    color: #fff;
}



.social-icons a :hover {
    

}


